body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.reviews {
    padding: 0 20px;
}

.reviews-title {
    font-family: Impact, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 123%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000; 
    text-align: center;
    margin-bottom: 40px;
}
.swiper-container {
    max-width: 320px;
    background-color: #e4e5e6;
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 32px;
    height: 296px;
}
.review-text {
    font-family: Impact, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
    margin-bottom: 24px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.person-box {
    display: flex;
    gap: 16px;
    align-items: center;
}
.person-icon {
    border-radius: 24px;
    width: 40px;
    height: 40px;
}
.person-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: black;
}

.buttons-container {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
.prev-button, .next-button {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
    width: 40px;
    height: 40px;
}



/* Tablet view */
@media screen and (min-width: 768px) {
    .reviews {
        max-width: 768px;
    }
    .swiper-container {
        max-width: 768px;
        height: 224px;
    }
    .reviews-title {
        font-size: 72px;
    }
}

/* Desktop view */
@media screen and (min-width: 1280px) {
    .reviews {
        max-width: 1280px;
    }
    .swiper-container {
        max-width: 592px;
    }
    .reviews-title {
        font-size: 108px;
    }
    .prev-button, .next-button {
        width: 48px;
        height: 48px;
    }
}




